Molar/Package/Library/MobileSubstrate/DynamicLibraries/Molar.dylib
Molar/Package/Library/PreferenceBundles/Molar.bundle/MolarSettings
MolarSettings/Package/Library/PreferenceBundles/MolarSettings.bundle/MolarSettings
LatestBuild
Packages/
*.mm
molar15-changelog
