Package: de.hoenig.molar
Name: Molar
Version: 1.6
Description: 
Section: Tweaks
Depends: firmware (>= 9.0), mobilesubstrate, libactivator, applist, ws.hbang.common
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Lukas Hönig <lukashoenig@icloud.com>
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: file:///Library/PreferenceBundles/Molar.bundle/Icon.png

