Package: de.hoenig.AppSwitcher
Name: AppSwitcher
Version: 1.0-1
Description: Bluetooth cmd-tab switching for iphone
Section: System
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Lukas Hönig
dev: 
Homepage: 
Depiction: 
Maintainer: lukashoenig@icloud.com
Icon: 

