Package: forbes.no1.AppSwitcher
Name: AppSwitcher
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Daniel Marass
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

